
.places-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.place-container {
  width: 45%;
  margin: 8px;
  padding: 16px;
  border: 2px solid #bdcebe;
}
#m, #b, #g, #n, #p, #s{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-top: 0;
 
}
#m{
  background-image: url('./images/cliffs_of_moher.jpg');
}
#b{
  background-image: url('./images/blarney_castle.jpg');
}
#g{
  background-image: url('./images/guinness_storehouse.jpg');
}
#n{
  background-image: url('./images/newgrange.jpg');
}
#p{
  background-image: url('./images/powerscourt_estate.jpg');
}
#s{
  background-image: url('./images/skellig_michael.jpg');
}
.place-link {
  color: #666;
  text-decoration: underline;
}

.place-name{
  font-weight: bold;
  font: Courier;
  font-size: 20px;
}
h1{
  font-weight: bold;
  font: Courier;
  font-size: 20px;
  padding: 10px;
  padding-left: 40%;
  margin-top: 0;
  color: #fff;
  background-color: #666;
 
}
.address{
  margin-left: 40%;
}
.address div {
  color: white;
}
.place-name:hover {
  background-color: #bdcebe;
}

.place-description {  
  color: #666;
}

.place-info  {
  font-style: italic;
  margin-bottom: 8px;
}

.place-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 16px;
  padding-left: 13%;
}
.info{
  color: #fff;
  background-color: #666;
}

.home-about, .info{
  border-radius: 50px;
  border: 2px solid #bdcebe;
  width: 80%;
  padding: 20px;
  margin: 50px;
  font: italic;
  font-size: 16px;
}
.home-about {
  border-radius: 50px;
  border: 2px solid #bdcebe;
  width: 80%;
  padding: 20px;
  margin: 50px;
  font: italic;
  font-size: 16px;
  text-align: center;
  background-color: #f4f7f6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.home-about:hover {
  transform: scale(1.05);
}
h2{
  color:#666;
}
.navbar {
  background-color: #bdcebe;
  padding: 10px;
  font: Courier;
  font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 50px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}


.contact-container {
  text-align: center;
  margin-top: 50px;
}

.contact-title {
  font-size: 24px;
  color: #666;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.contact-form input,
.contact-form textarea {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #bdcebe;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 button:hover {
  background-color: #ccc;
}
@media screen and (max-width: 600px) {
  .places-container {
    flex-direction: column;
    align-items: center;
  }
  .place-image{
    padding-left: 0;
  }
  .place-container {
    width: 90%;
  }
  .info{
    margin-left: 10px;
  }

  .home-about,
  .info{
   margin: 20px;
   padding: 20px;
  }
  h1{
    padding-left: 20%;
  }

  .address {
    margin-left: 5%;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }
} 
@media screen and (max-width: 1200px) {
  .place-image {
    padding-left: 0;
  }
}