
.place-containers {
  width: 90%; 
  margin: 8px;
  padding: 16px;  
  border: 2px solid #bdcebe;
  margin-left: 50px;
 }
#m, #b, #g, #n, #p, #s{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-top: 0;
 
}
#m{
  background-image: url('./images/cliffs_of_moher.jpg');
}
#b{
  background-image: url('./images/blarney_castle.jpg');
}
#g{
  background-image: url('./images/guinness_storehouse.jpg');
}
#n{
  background-image: url('./images/newgrange.jpg');
}
#p{
  background-image: url('./images/powerscourt_estate.jpg');
}
#s{
  background-image: url('./images/skellig_michael.jpg');
}
.place-link {
  color: #666;
  text-decoration: underline;
}

.place-name{
  font-weight: bold;
  font: Courier;
  font-size: 20px;
}
h1{
  font-weight: bold;
  font: Courier;
  font-size: 20px;
  padding: 10px;
  padding-left: 40%;
  margin-top: 0;
  color: #fff;
  background-color: #666;
 
}
.address{
  margin-left: 40%;
}
.address div {
  color: white;
}
.place-name:hover {
  background-color: #bdcebe;
}

.place-description {  
  color: #666;
}

.place-info  {
  font-style: italic;
  margin-bottom: 8px;
}

.place-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 16px;
  padding-left: 60px;
}
.info{
  color: #fff;
  background-color: #666;
}

.home-about, .info{
  border-radius: 50px;
  border: 2px solid #bdcebe;
  width: 80%;
  padding: 20px;
  margin: 50px;
  font: italic;
  font-size: 16px;
}
.navbar {
  background-color: #bdcebe;
  padding: 10px;
  font: Courier;
  font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 50px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}


.contact-container {
  text-align: center;
  margin-top: 50px;
}

.contact-title {
  font-size: 24px;
  color: #666;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.contact-form input,
.contact-form textarea {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #bdcebe;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 button:hover {
  background-color: #ccc;
}

@media screen and (max-width: 900px) {
  .place-image{
    padding-left: 5px;
  }
}
