
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 10px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}


.contact-container {
  text-align: center;
  margin-top: 50px;
}

.contact-title {
  font-size: 24px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.contact-form input,
.contact-form textarea {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

